{% extends "base.html" %}
{% load static %}
{% block title %} {{ page }} {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="page">
      <div class="page-header">
        <h1 class="page-title"><i class="material-icons">{{ icon }}</i> {{ page }}</h1>
      </div>

      <div class="page-content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                  <p class="card-text">{{ description }}</p>

                  {{ form.non_field_errors }}

                  <div class="" >

                    <form action="" method="POST">
                      {% csrf_token %}
                      {{ form.as_p }}

                      <div class="text-right">
                        <a href="javascript: history.go(-1)" class="btn btn-default btn-round"><i class="icon md-undo" aria-hidden="true"></i> Atrás </a>
                        <button type="submit" class="btn btn-success btn-round"><i class="icon md-plus-circle" aria-hidden="true"></i> Guardar</button>
                      </div>
                    </form>

                  </div>
              </div>    
            </div>
          </div>
        </div>
      </div>
    </div>  


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}

